@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap'); /*import font family Inter from Google Fonts*/

:root { /*assigns primary and secondary colors as variables for more efficient theme switching*/ 
  --primary-color: white;
  --secondary-color: #0c0c0c;
  --tertiary-color: rgb(255, 255, 126);
  --tertiary-dark: #ffd900;
}

body {
  font-family: 'Inter', sans-serif; 
}

.view-full-article { /*style of view full article buttons*/
  font-weight: 600;
  background: var(--secondary-color);
  padding: 7px; /*increases size of button*/
  color: var(--primary-color); 
  text-decoration: none; /*removes underline from link*/
  border-radius: 10px; /*makes borders of link round*/
}

.navbar {
  z-index: 9999; /*ensure that navbar stays in front of all content*/
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}

button {
  font-family: 'Inter', sans-serif;
  font-weight: 550;
  color:var(--primary-color);
  background:none;
  border:none;
  border-radius: 5px;
  margin-left: 8px;
}

.control_panel {
  position: fixed;
  width: 50%;
  bottom: 0;
  background-color: var(--secondary-color);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px 5px 0px 0px;
}

.bot_con {
  position:fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

#logo {
  margin-top: 10px;
  margin-bottom: 5px;
  height: 40px;
}

.horizontal {
  width: 900px;
  height: 650px;
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px
}

.vertical {
  width: 500px;
  height: 600px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px
}

.tiled {
  max-width: 800px;
  position: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.horizontal_article {
  padding: 10px;
  width: 200px;
  float: none;
  height: 90%;
  display:inline-block;
  overflow: hidden;
  
}

.text_container {
  max-width: 400px;
  white-space: wrap;
}

.title_container {
  font-size:larger; /*make titles larger*/
  font-weight: 700;
  max-width: 400px;
  white-space: wrap;
  text-wrap: wrap;
}

.sortable-list {
    max-width: 300px;
    margin: 0 auto;
}
 
ul {
    list-style-type: none;
    padding: 0;
}
 
li {
    background-color: var(--primary-color);
    padding: 10px;
    margin: 5px;
    cursor: grab;
}
/* Dropdown Button */
.dropdown_button {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown_content {
  display: none;
  bottom: 100%;
  position: absolute;
  background-color: var(--primary-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown_content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropdown_button {background-color: var(--tertiary-dark);}
